name: CI

on:
  - push
  - pull_request

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Git clone my repo
    - uses: actions/checkout@v1
    - name: npm install
      run: |
        make install  
    - name: Run linter
      run: make lint
